@charset "utf-8";

@import url('reset.css');
@import url('common.css');
@import url('slide.css');
@import url('modal.css');

/* 콘텐츠 */
#contents {
    height: 200px;
    text-align-last: left;
    font-size: 14px;
}

#contents > div {
    float: left;
    width: 400px;
    height: 200px;
}

/* 탭 */
.tabs {
    width: 400px;
    height: 200px;
    padding-top: 20px;
}

/* 탭버튼 */
.tabBtn {
    overflow: hidden;
}

.tabBtn li {
    float: left;
    background: #777;
    padding: 5px 15px;
}

.tabBtn li a {
    color: #fff;
    font-size: 16px;
}

/* 공지사항 */
#tabs1 {
    padding: 10px;
}

#tabs1 span {
    display: inline-block;
    width: 300px;
    line-height: 2;
}

/* 겔러리 */
#tabs2 {
    display: none;
    text-align: center;
}

#tabs2 a {
    display: inline-block;
    margin: 15px 5px;
}

/* 유튜브 광고 영상 */
.vid {
    overflow: hidden;
}
.youtube {
    width:420px;
    height:240px;
    margin-top:-5px;
}