@charset "utf-8";

@import url('reset.css');
@import url('common.css');

table {
    width:1200px;
    border-top:1px solid #333;
    border-collapse: collapse;
}
th, td {
    border-bottom:1px dotted #ccc;
}
th {
    height:40px;
}
td {
    height:60px;
}
td:nth-child(2) {
    text-align: left;
    padding-left:100px;
}
.paging {
    margin: 50px 0 100px 0; /* 상우하좌 */
    text-align: center;
}
.paging a {
    margin:0 18px;
    color: #ccc;
}
.num a:first-of-type {
    color:#333;
}
