@charset "utf-8";

@import url(reset.css);
@import url(common.css);

/*---------------- 폰 -----------------*/
/*--------------- 헤더 ----------------*/
#header {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    line-height: 55px;
    padding: 0 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    background: rgba(255, 255, 255);
}

/* 내비게이션, 메인 타이틀 일부 숨김 */
.gnb,
#section1 span:nth-child(2) {
    display: none;
}

/*--------------- 섹션1 ---------------*/
#section1 {
    position: relative;
    top: 55px;
    height: 200px;
    background: url(../images/main_img.jpg) no-repeat center center/cover;
}

#section1 h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

#section1 span:first-child {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 13px 10px 20px;
}

/*--------------- 섹션2,3,4 공통 ---------------*/
.cont {
    padding: 125px 30px 0;
}

.cont h2 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.cont li + li {
    margin-top: 13px;
}

/*------------------ 섹션2 ------------------*/
#section2 {
    margin-top: 55px;
}

#section2 h2 {
    margin-bottom: 40px;
}

#section2 li {
    position: relative;
}

#section2 span {
    position: absolute;
    left: 0;
    top: 0;
    padding: max(.7vw,12px) max(1vw,15px);
    background: #000;
    color: #fff;
}

/* 섹션3,4 공통 */
#section3 > p,
#section4 > p {
    margin-bottom: 50px;
}

/* 섹션3 */
#section3 li h3 {
    margin: 20px 0;
}

#section3 li p {
    margin-bottom: 20px;
}

#section3 li a {
    display: block;
    width: 100%;
    height: 37px;
    line-height: 37px;
    text-align: center;
    background: #ccc;
}

/* 섹션4 */
#section4 input {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    padding-left: 20px;
}

#section4 input::placeholder {
    color: #ccc;
}

#section4 input + input {
    margin-top: 15px;
}

#section4 button {
    background: #333;
    color: #fff;
    padding: 10px 16px;
    margin: 30px 0 50px;
}

/* 푸터 */
#footer {
    height: 84px;
    background: #111;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    padding-top: 20px;
}

#footer span {
    /* 두 줄 처리 */
    display: block;
    margin-top: 10px;
    font-size: 12px;
}

/**********************************************/
/*----------------- 테블릿 -------------------*/
/**********************************************/

@media screen and (min-width: 600px) {
    /*--------------- 헤더 ---------------*/
    #header {
        /* 로고와 GNB를 가로 배치 */
        display: flex;
        justify-content: space-between;
    }

    /* GNB */
    .gnb {
        display: inline-block;
    }

    .gnb ul {
        display: flex;
    }

    .gnb li + li {
        margin-left: 50px;
    }

    /*--------------- 섹션1 ---------------*/
    /* 메인이미지 높이 */
    #section1 {
        height: 410px;
    }

    #section1 span:nth-child(2) {
        display: inline-block;
        margin-left: 15px;
    }

    /*************************************/
    /*----------- 섹션2,3 공통 ----------*/
    /*************************************/
    .cont ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .cont ul li {
        /* 연산자 앞뒤는 띄어쓰기 한다. */
        flex: 0 0 calc(50% - 10px);
    }

    /*-------------- 섹션2 ---------------*/
    .cont li:nth-child(2) {
        margin-top: 0;
    }

    /*-------------- 섹션3 ---------------*/
    #section3 li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
} /* min-width:600px 끝 */

/*********************************************/
/*---------------- 데스크탑 -----------------*/
/*********************************************/

@media screen and (min-width: 992px) {
    /* 섹션1~4 가로크기 최대 1500px */
    #section1,
    .cont {
        max-width: 1500px;
        margin: 0 auto;
    }

    /*--------------- 섹션1 ---------------*/
    /* 메인이미지 높이 */
    #section1 {
        height: 740px;
    }

    /*----------- 섹션2,3 공통 ----------*/
    .cont ul li {
        flex: 0 0 calc(25% - 10px);
    }

    /* 3,4번 이미지 위 여백 제거 */
    .cont li:nth-child(3),
    .cont li:nth-child(4) {
        margin-top: 0;
    }

    /*-------------- 푸터 --------------*/
    #footer span {
        /* 한 줄 처리 */
        display: inline-block;
        margin: 15px;
    }
} /* min-width:992px 끝 */

@media screen and (min-width: 1560px) {
    /*----------- 섹션2,3,4 공통 ----------*/
    /* 콘텐츠가 가로 1500px 이상일 경우 좌우 30px 제거 */
    .cont {
        padding-left:0;
        padding-right:0;
    }
}
